@import url("fonts.css");

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;;
}
/* header */
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    max-width: 1110px;
    margin: 0 auto;
}

header .logo{
    font-family: Lobster;
    font-size: 43px;
    line-height: 24px;
    color:#44c0c2;
    align-self: center;
}

header nav {
    align-self: center;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    
}

header nav ul li a{
    text-decoration: none;
    font-family: OpenSansSemiB;
    font-size: 15px;
    line-height: 24px;
    /* color: #484c55; */
    color: #4a5368;
    padding: 40px 21px;
    background-color: #f8f9fb;
}

header nav ul li a:hover{
    color: #49cbcd;
    padding-bottom: 38px;
    border-bottom: 3px  solid #49cbcd;
}

header nav ul .icon{
    display: none;
}

/* .home */
.home{
    margin: 0 auto;
    height: 567px;
    background-image: url("../Images/BGI1440x567px.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .heading{
    display: flex;
    flex-wrap: wrap;
    font-family: OpenSansSemiB;
    font-size: 50px;
    line-height: 42px;
    color: #fff;
    padding-top: 145px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.16);
}

.home .text{
    display: flex;
    flex-wrap: wrap;
    font-family: OpenSansReg;
    font-size: 23px;
    line-height: 37px;
    color: #fff;
    padding-top: 46px;
}
/* .service */
.service{
    max-width: 1171px;
    height: 517px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #484c55;
}

.service .img1{
    text-align: center;
    padding-top: 104px;
}

.service .imgcap1{
    font-family: OpenSansReg;
    font-size: 22px;
    line-height: 24px;
    color: #4e525d;
    align-self: center;
    text-align: center;
    padding-top: 53px;
}

.service .imgtxt1{
    text-align: center;
    font-family: OpenSansReg;
    font-size: 14px;
    line-height: 26px;
    color: #4e525d;
    padding-top: 34px;
}