# {
   margin: 0; /* убрать внутренние отступы */
   padding: 0; /* убрать внешние отступы */
}

#menu{
   background: #e73835; /* цвет фона навигационной панели */
   text-align: center; /* пункты и текст горизонтально по центру */
}


#menu li{
   display:inline-block;/* расположить пункты горизонтально */
   text-align: center; /* текст горизонтально по центру */
}

#menu a{
   display: block; /* ссылка растягивается на весь пункт li */
   padding: 5px 15px; /* задаем внутренние отступы */
   color: #fff; /* цвет текста */
   text-decoration: none; /* убрать нижнее подчёркивание у ссылок */
   fony-size:150%;
}

#menu a:hover {
        background: #8AB8CC; /* фон пунктов при наведении */
    }
