* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: #000;
    display: flex;
}