* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* header */

header {
    width: 100%;
    background-color: #000;
    display: flex;
}

.header_logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 10%;
}

nav {
    margin-top: 56px;
    TODO: изменить на 29%;
    margin-left: 10%;
}

.topnav a {
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}

.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}

.topnav .icon {
    display: none;
}


/* media request */

@media screen and (max-width:1010px) {
    .topnav a {
        /* при ширине экрана менее 1010px ссылки будут пропадать */
        display: none
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: #fff;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
}