@font-face {
    font-family: "hv";
    src: url("../fonts/HV.woff2") format("woff2"), url("../fonts/HV.woff") format("woff");
}

@font-face {
    font-family: "hvb";
    src: url("../fonts/HVB.woff2") format("woff2"), url("../fonts/HVB.woff") format("woff");
}

@font-face {
    font-family: "hvr";
    src: url("../fonts/HVR.woff2") format("woff2"), url("../fonts/HVR.woff") format("woff");
}

@font-face {
    font-family: "bn";
    src: url("../fonts/BN.woff2") format("woff2"), url("../fonts/BN.woff") format("woff");
}