<!DOCTYPE html >
<!-- <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru"> -->

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Выпадающее меню на чистом CSS | Материалы сайта RUSELLER.COM</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <ul id="nav">
        <li>
            <a href="#" title="Вернуться на главную страницу">Главная</a>
        </li>
        <li>
            <a href="#" title="Информация о компании">О нас</a>
            <ul>
                <li><a href="#">Продукты</a></li>
                <li><a href="#">Команда</a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="Что мы можем для вас сделать">Услуги</a>
            <ul>
                <li><a href="#">Услуга один</a></li>
                <li><a href="#">Услуга два</a></li>
                <li><a href="#">Услуга три</a></li>
                <li><a href="#">Услуга четыре</a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="Наша продуктовая линейка">Продукты</a>
            <ul>
                <li><a href="#">Маленький продукт (первый)</a></li>
                <li><a href="#">Маленький продукт (второй)</a></li>
                <li><a href="#">Маленький продукт (третий)</a></li>
                <li><a href="#">Маленький продукт (четвертый)</a></li>
                <li><a href="#">Большой продукт (пятый)</a></li>
                <li><a href="#">Большой продукт (шестой)</a></li>
                <li><a href="#">Большой продукт (седьмой)</a></li>
                <li><a href="#">Большой продукт (восьмой)</a></li>
                <li><a href="#">Невообразимый продукт (девятый)</a></li>
                <li><a href="#">Невообразимый продукт (десятый)</a></li>
                <li><a href="#">Невообразимый продукт (одиннадцатый)</a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="Как с нами связаться">Контакт</a>
            <ul>
                <li><a href="#">Часы работы</a></li>
                <li><a href="#">Местоположение</a></li>
            </ul>
        </li>
    </ul>
    <h1>Здесь расположен простой контент для демонстрации перекрытия меню.</h1>
</body>

</html>