* {
   margin: 0;
   padding: 0;
}
html,
body,
.wrapper {
   height: 100%;
}

.wrapper {
   display: table;
}

.content {
   display: table-row;
   height: 100%
}


/*Он хорош тем, что, в отличие от остальных способов, высота футера значения не имеет.
Здесь мы эмулируем поведение таблицы, превратив блок .wrapper в таблицу, а блок .content в строку таблицы (свойства display: table и display: table-row соответственно). Благодаря этому, а также тому, что блоку .content и всем его родительским контейнерам задана высота 100%, контент растягивается на всю высоту, но за минусом высоты футера, которая определяется автоматически — эмуляция таблицы не дает подвалу вылезть за пределы высоты окна браузера.

В результате footer прижат к низу*/
