* {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: aqua;
    text-align: justify;
}

header h1,
header h3,
address,
#input {
    text-align: center;
}


/* Article */

article {
    background-color: beige;
}


/* Footer */

footer {
    background-color: lightgreen;
}