* {
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: aqua;
}


/* Article */

article {
    background-color: beige;
}


/* Footer */

footer {
    background-color: lightgreen;
}