/* * {
    margin: 0;
    padding: 0;
} */


/* Header */

header {
    background-color: rgb(157, 233, 233);
    font-size: 12px;
}

header h4,
header h3,
address,
#input {
    text-align: center;
}

#input input {
    width: 120px;
    height: 12px;
}


/* Article */

article {
    background-color: beige;
}

table {
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid;
}


/* Footer */

footer {
    background-color: lightgreen;
    font-size: 12px;
}