* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

body {
   background-color: teal;
}

.back-image {
   background-image: url(../Images/meadow-2184989_1920.jpg);
   background-size: cover;
}

.wrapper {
   position: relative;
   min-height: 100%;
}

.content {
   padding-bottom: 40px;
}

footer {
   position: absolute;
   left: 0;
   bottom: 0;
   background: #e6d821;
   border-radius: 10px 10px 10px 10px;
   height: 31px;
   width: 100%;
   vertical-align: middle;
}

.indexh1 {
   text-align: center;
   color: #d73214;
}

.p1, .p3, .p4 {
   text-align: center;
}

.p4{
   text-align: center;
   vertical-align: middle;
}

.imageM0 {
   text-align: center;
}

.imageM1 {
   padding: 10px;
   border: 5px;
   margin: 5px;
   border-style: groove;
   border-color: #be6daa;
}

.nav {
   text-align: center;
   margin: 0 auto;
   /*width: auto;*/
}

.menu{
   background: #df8e23;

}

.menu li{
   display:inline-block;
   font-weight: bold;
}

.menu a{
   display: block;
   padding: 5px 30px;
   font-size:100%;
   color: #4d1486;
   text-decoration: none;
}

.menu a:hover{
   background: #858f12;
}

.mailto {
   text-align: center;
   position: fixed;
   right: 10px;
   vertical-align: middle;
}

.li-count {
   text-align: left;
   position: fixed;
   left: 10px;
   vertical-align: middle;
}

.p4-1 {
   background-color: #89ec15;
   position: fixed;
   top: 100px;
   left: 10px;
   /*right: 600px; */
   bottom: 250px;
   border: 3px dotted red;
   padding: 15px;
   max-width: 150px;
   float: right;
}

.p4-2 {
   background-color: #15b8ec;
   position:fixed ;
   top: 100px;
   left: 220px;
   right: 10px;
   bottom: 250px;
}
