* {
   margin: 0;
   padding: 0;
}
html,
body,
.wrapper {
   height: 100%;
}

.content {
   box-sizing: border-box;
   min-height: 100%;
   padding-bottom: 90px;
}

.footer {
   margin-top: -80px;
   height:80px;
}

/*<!-- Footer прижимается вниз за счет вытягивания блока контента и его «родителей» на всю высоту окна браузера и подъема футера вверх через отрицательный отступ (margin-top) для избавления от появляющегося при этом вертикального скролла. В данном случае необходимо обязательно указать высоту подвала, и она должна быть равна величине отступа.
Благодаря свойству box-sizing: border-box, мы не позволяем блоку с классом .content превысить высоту 100%. То есть в данном случае min-height: 100% + padding-bottom: 90px равняется 100% высоты окна браузера.-->*/
