p {
    margin: 0;
}

/* Абсолютные величины */

.mm {
    font-size: 20mm;
}

.cm {
    font-size: 2cm;
}

.in {
    font-size: 2in;
}

.pt {
    font-size: 12pt;
}

/* Относительные величины */

.px {
    font-size: 20px;
}

.em {
    font-size: 1.7em;
}

.percent {
    font-size: 170%;
}

.vw {
    font-size: 2vw;
}

.vh {
    font-size: 2vh;
}