* {
   margin: 0;
   padding: 0;
}

html, body {
   height: 100%;
}

body {
   background-color: teal;
}

.wrapper {
   position: relative;
   min-height: 100%;
}

.content {
   padding-bottom: 20px;
}

footer {
   position: absolute;
   left:0;
   bottom: 0;
   background: #b1f6b9;
   border-radius: 10px 10px 10px 10px;
   height: 20px;
   width: 100%;
}

.indexh1 {
   text-align: center;
   color: #d73214;
}

.p1 {
   text-align: center;
}

.p2 {
   text-align: center;
}

.nav {
   text-align: left;
}

.hr1 {
   text-align: center;
}
