#wrapper{
   width: 500px;
   outline: 1px solid #787274;
   padding: 10px;
   margin:0 auto;
}

#header{
   height: 80px;
   background-color: #25b33f;
   margin-bottom: 10px;
}

#sidebar{
   height: 80px;
   background-color: #f5a02f;
   margin-bottom: 10px;
   width: 200px;
   margin-left: 300;
   float: right;
}

#content{
   height: 80px;
   background: #3486da;
   margin-bottom: 10px;
   width: 290px;
}

#footer{
   height: 80px;
   background: #794187;
   margin-bottom: 10px;
}
