.dont_see {
    display: none;
}


/* body {
    width: 900px;
    text-align: center;
} */


/* Header */

header {
    background-color: rgb(157, 233, 233);
    font-size: 3mm;
}

header h4,
header h3,
address,
.submit,
#input {
    text-align: center;
}

#input input {
    width: 3cm;
    height: 5mm;
}

.table1 {
    width: 18cm;
    margin: 0 auto;
    /* test table1*/
    border-collapse: collapse;
}

.table1 tbody,
.table1 td {
    font-size: 4mm;
    /* test table1*/
    border: 1px solid black;
}


/* Article */

article {
    background-color: rgb(235, 235, 48);
    margin: 5px 2px 5px 2px;
}

.table2 {
    font-size: 3mm;
    border: 1px solid black;
    border-collapse: collapse;
}

.table2 td,
.table2 th {
    border: 1px solid black;
}

.table2 td {
    text-align: center;
}


/* Footer */

footer {
    background-color: lightgreen;
    font-size: 3mm;
}

footer p {
    text-align: right;
}


/* PRINTER */

@media print {
    @page {
        margin: 10mm;
    }
    .print {
        display: block;
    }
    .noprint {
        display: none;
    }
    /* Header */
    header {
        font-size: 3mm;
    }
    #hin1 {
        display: none;
    }
    #pr1,
    #pr2,
    #pr3 {
        font-size: 3.5mm;
        font-style: italic;
        font-weight: 700;
    }
    .align_left {
        text-align: left;
    }
    .align_right {
        text-align: right;
    }
    /* Article */
}