@import url("fonts.css");

/* установка глобальных параметров */

body {
    font-family: hv;
    margin: 0;
    padding: 0;
    max-width: 1280px;
}


/* topmenu */

.topmenu {
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
    background: linear-gradient(180deg, #fff, #e2e2e2);
    background-position: center;
    border-bottom: 1px solid #ccc;
    height: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

/* .topmenu .logo img {
    margin-top: 13%;
    margin-left: 5%;
} */

.topmenu .logo{
    margin-top: -0.2%;
    margin-left: 13.9%;
} 

.topmenu h2{
    font-family: lb;
    font-size: 3.05em;
    color: #ff7700;
    font-weight: 600;
    letter-spacing: 2.6px;
}

.topmenu h2 span{
    color: #676666;
}


.topmenu nav ul {
    list-style: none;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.topmenu nav ul li a {
    background: url("../Images/home.png")no-repeat center 31%;
    display: inline-block;
    text-decoration: none;
    color: #545454;
    padding-top: 55px;
    height: 62px;
    width: 107px;
    text-align: center;
}

.topmenu a:hover {
    border-bottom: 4px solid #ff7d00;
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #b8b1b1;
    width: 105px;
    height: 58px;
}

.topmenu .home a {
    background-image: url("../Images/home.png");
}

.topmenu .gallery a {
    background-image: url("../Images/gallery.png");
}

.topmenu .members a {
    background-image: url("../Images/members.png");
}

.topmenu .logout a {
    background-image: url("../Images/logout.png");
}

.topmenu .home a:hover {
    background-image: url("../Images/home.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cac2c2));
    background-image: url("../Images/home.png"), linear-gradient(180deg, #fff, #cac2c2);
    background-position: center 33%;
}

.topmenu .gallery a:hover {
    background-image: url("../Images/gallery.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cac2c2));
    background-image: url("../Images/gallery.png"), linear-gradient(180deg, #fff, #cac2c2);
    background-position: center 32%;
}

.topmenu .members a:hover {
    background-image: url("../Images/members.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cac2c2));
    background-image: url("../Images/members.png"), linear-gradient(180deg, #fff, #cac2c2);
    background-position: center 33%;
}

.topmenu .logout a:hover {
    background-image: url("../Images/logout.png"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cac2c2));
    background-image: url("../Images/logout.png"), linear-gradient(180deg, #fff, #cac2c2);
    background-position: center 33%;
}

/* #content */
#content {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
}

/* #content #form_upload*/
#content #form_upload {
    display: -webkit-box;
    display: flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 75%;
    margin: 5px auto;
}

#content #form_upload h1 {
    color: #565555;
    font-family: hvb;
    font-size: 180%;
    font-weight: normal;
    margin: 10px auto;
    text-align: center;
}

#content #form_upload .files_form {
    margin: 5px auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#content .file_form {
    border: 1px solid #cacaca;
    border-radius: 4px;
    cursor: pointer;
    height: 46px;
    width: 50%;
    padding: 2px;
    margin-right: 13px;
    position: relative;
}

#content .file_form input[type="file"] {
    opacity: 0;
    cursor: pointer;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 10;
}

#content .file_form .file_button {
    font-family: hvr;
    background-color: #c1bfbf;
    color: #fff;
    float: right;
    height: 22px;
    padding: 8px 14px;
    border-radius: 3px;
    margin-right: 4px;
    margin-top: 6px;
    line-height: 1.4;
}

#content input[type="submit"] {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa400), to(#ff6700));
    background: linear-gradient(180deg, #ffa400, #ff6700);
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: hvb;
    font-size: 130%;
    padding: 14px 27px;
}

#content .file_form .shadow {
    -webkit-box-shadow: 0 0 3px 3px #e2dada;
            box-shadow: 0 0 3px 3px #e2dada;
}

#content input[type="submit"]:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff6700), to(#ffa400));
    background: linear-gradient(180deg, #ff6700, #ffa400);
}

/* #content #photos*/
#photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0;
}

#photos .photo {
    -webkit-box-shadow: 0 0 3px 1px #eaeaea;
            box-shadow: 0 0 3px 1px #eaeaea;
    border: 1px solid #d6d6d6;
    color: #979393;
    padding: 5px;
    margin: 20px 15px;
}

#photos .photo .main_photo {
    width: 100%;
}

#photos .photo .date {
    color: #f0efef;
    font-family: bn;
    font-size: 130%;
    margin: -33px 0 0 7px;
    display: block;
}

#photos .text {
    float: left;
    margin: 13px 8px;
}

#photos .favorites {
    cursor: pointer;
    margin-top: 12px;
}

#photos .share {
    float: right;
}

#photos .share .icon {
    background: url("../Images/bg_share.png") no-repeat;
    height: 20px;
    width: 22px;
    float: left;
    text-align: center;
    padding-top: 2px;
    margin: 15px 3px 0;
    cursor: pointer;
}

#photos .share .icon:hover {
    background: url("../Images/bg_share_active.png") no-repeat;
}

#photos .share p {
    float: left;
    margin-right: 10px;
}

#photo .shadow {
    -webkit-box-shadow: 0 0 11px 4px #e0e6e6;
            box-shadow: 0 0 11px 4px #e0e6e6;
    margin-left: -2px;
    width: 102%;
}

#photos .border {
    border-bottom: 1px solid #e0dfdf;
    padding-bottom: 7px;
    margin-top: 5px;
}

#photos .row {
    margin: 40px 0;
}


/* #content footer */

footer {
    font-family: Arial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: #8d8a8a;
    padding-right: 20px;
}

/* media queries */

/* 320px - 480px */
@media screen and (min-width:320px) and (max-width:479px) {
    .topmenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 134px;
    }

    #content #form_upload h1 {
        font-size: 110%;
    }

    #content #form_upload .files_form {
        margin: 5px auto;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #content .file_form {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 250px;
    }
    #photos .photo {
        margin: 5px;
    }
}

/* 480px - 599px */
@media screen and (min-width:480px) and (max-width:599px) {
    .topmenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 134px;
    }

    #content #form_upload h1 {
        font-size: 130%;
    }

    #content #form_upload .files_form {
        margin: 5px auto;
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #content .file_form {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 250px;
    }
    #photos .photo {
        margin: 10px 5px;
    }
    
}

/* 600px - 799px */
@media screen and (min-width:600px) and (max-width:799px) {
    .topmenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 134px;
    }

    #content #form_upload h1 {
        font-size: 160%;
    }

    #content .file_form {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 250px;
    }
    #content input[type="submit"] {
        margin-left: 10px;
    }   
    #content #form_upload .files_form {
        width: 100%;
    } 
    #photos .photo {
        margin: 15px 10px;
    }
}

/* 800px - 999px */
@media screen and (min-width:800px) and (max-width:999px) {}

/* >1000px */
@media screen and (min-width:1000px) {}