@import url("fonts.css");

/* установка глобальных параметров */

body {
    font-family: hv;
    margin: 0;
    padding: 0;
}


/* footer */

footer {
    font-family: Arial;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    color: #8d8a8a;
    padding-right: 20px;
}