* {
    margin: 0;
    padding: 0;
}


/* header */

.flex-container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: lime;
}

.flex-logo {
    display: flex;
    background-image: url(Img/logo-1.png);
    /* background-color: mediumvioletred; */
    width: 275px;
    height: 95px;
}

.flex-item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-item1 {
    background-color: rgb(202, 199, 187);
    padding: 10px;
    border: navy solid 2px;
    margin: 10px 5px;
    size: 1.2em;
    list-style: none;
    width: 100px;
    height: 20px;
    text-align: center;
}

.flex-item1 a {
    text-decoration: none;
    /* width: 35px;
    height: 20px; */
}

.flex-item1:hover {
    background-color: moccasin;
}